<footer class="jumbotron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto
            consequuntur nihil sed aperiam blanditiis unde aliquid recusandae
            eum tempora voluptatem quaerat expedita at autem, facere odio. Sit
            laudantium a excepturi.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
